@keyframes modalSlideInCenter {
  from {
    transform: translate(-50%, 0%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes modalSlideInBottom {
  from {
    transform: translate(-50%, 150%);
  }

  to {
    transform: translate(-50%, 0%);
  }
}

@keyframes modalSlideInTop {
  from {
    transform: translate(-50%, -150%);
  }

  to {
    transform: translate(-50%, 0%);
  }
}

.animation-top {
  animation: modalSlideInTop 0.4s ease;
  animation-fill-mode: forwards;
}
.animation-bottom {
  animation: modalSlideInBottom 0.4s ease;
  animation-fill-mode: forwards;
}
.animation-center {
  animation: modalSlideInCenter 0.4s ease;
  animation-fill-mode: forwards;
}
.none-animation-top {
  transform: translate(0%, -50%);
}
.none-animation-bottom {
  transform: translate(-50%, 0%);
}
.none-animation-center {
  transform: translate(-50%, -50%);
}

.mask view,.mask input,.mask text {
  font-size: 28rpx;
  color: #333;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dialog view {
  word-break: break-all;
}

.dialog button::after {
  content: '';
  border: none;
}

.dialog {
  position: fixed;
  z-index: 10001;
  background-color: #fff;
  border-radius: 14rpx;
}

.dialog-center {
  left: 50%;
  top: 50%;
}

.dialog-top {
  left: 50%;
  top: 0px;
}

.dialog-bottom {
  left: 50%;
  bottom: 0px;
}

.dialog--header {
  padding: 40rpx 0 24rpx;
  text-align: center;
  font-size: 36rpx;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dialog--footer {
  display: flex;
  justify-content: space-around;
}

.dialog--footer__button {
  height: 98rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 34rpx;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-top: 1px solid rgba(234, 234, 234, 0.5);
}

.dialog--footer__button-cancel {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 14rpx;
}

.dialog--footer__button-confirm {
  border-bottom-left-radius: 0rpx;
  border-bottom-right-radius: 14rpx;
}

.dialog--footer__button-single {
  border-bottom-right-radius: 14rpx;
  border-bottom-left-radius: 14rpx;
}

.dialog--footer button:nth-child(2) {
  border-left: 1px solid rgba(234, 234, 234, 0.5);
}
