.position {
    color: #303033;
    font-size: 32rpx;
    display: flex;
    border-bottom: 1rpx solid #E4E6ED;

    .iconduigou {
        font-size: 20rpx;
    }

    .position_title {
        min-width: 200rpx;
        width: 200rpx;
        height: calc(100vh - 148rpx);
        background: #f7f9f8;
        text-align: center;
        padding-top: 40rpx;
        color: #0486FE;
    }

    .county {
        height: calc(100vh - 148rpx);
        border-right: 1rpx solid #E4E6ED;

        .county_list {
            margin: 30rpx auto 30rpx 41rpx;
            width: 66%;
            text-align: center;
        }
    }

    .active1 {
        color: #0486fe;
        text-align: center;
        background-color: #f7f9f8;
        height: 20rpx;
        transition: all .2s;
        height: 62rpx;
        line-height: 62rpx;
    }

    .active2 {
        color: #0486fe;
        text-align: center;
        height: 20rpx;
        transition: all .2s;
        height: 62rpx;
        line-height: 62rpx;
    }

    .county1 {
        height: calc(100vh - 148rpx);

        .county_list {
            margin: 30rpx 20rpx 30rpx 41rpx;
            width: 66%;
            text-align: center;

            .district {
                margin-bottom: 20rpx;
            }
        }
    }

    .btn {
        display: flex;
        text-align: center;
        line-height: 90rpx;
        font-size: 34rpx;
        position: absolute;
        bottom: 11rpx;
        margin-left: 30rpx;

        .reset {
            width: 225rpx;
            height: 90rpx;
            background: #f7f9f8;
            border-radius: 6rpx;
            color: #606166;
            margin-right: 24rpx;

        }

        .define {
            width: 437rpx;
            height: 90rpx;
            background: #0486fe;
            border-radius: 6rpx;
            color: #ffffff;
        }
    }
}