.tab{  
    display: flex;  
    flex-direction: column;  
    
    .tab-left{  
        display: flex;
        justify-items: center;
        align-content: space-around;
        width: 750rpx;  
        line-height: 160%;  
        border: solid 1rpx red;  
        text-align: center;
    }  
    .active1 {
        width: 92rpx;
        height: 4rpx;
        background-color: #0486fe;
    } 
    .tab-right .right-item{  
        padding-left: 15rpx;  
        display: none;  
    }  
    .tab-right .right-item.active{  
        display: block;  
    }  
}  
