.scroll_view {
    height: 100vh;
    width: 100vw;
    color: #303033;

    .title {
        font-size: 40rpx;
        margin: 43rpx auto 33rpx 32rpx;
        font-weight: 500;
    }

    .position_city {
        width: 212rpx;
        height: 72rpx;
        background: #f7f9f8;
        border-radius: 6rpx;
        margin-left: 32rpx;
        line-height: 73rpx;
        text-align: center;
        font-size: 26rpx;
    }

    .city_list {
        .city_title {
            font-size: 40rpx;
            margin: 32rpx auto 33rpx 32rpx;
        }

        .city_all {
            display: flex;
            flex-wrap: wrap;
            margin: 0 32rpx;
            justify-content: space-between;
            box-sizing: border-box;

            .city_name {
                width: 212rpx;
                height: 72rpx;
                background: #f7f9f8;
                border-radius: 6rpx;
                line-height: 72rpx;
                text-align: center;
                font-size: 26rpx;
                margin-bottom: 24rpx;
            }

            :last-child:nth-child(3n + 2) {
                margin-right: calc((100% - 212rpx) / 2);
            }
        }
    }
}
.city_right{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26rpx;
    color: #0486FE;
}